$color-logo: #0da9e5;
$color-white: #fff;
$color-h2: #545454;
$color-p: #7e7e7e;

body{
	font-size: 16px;
	font-family: 'MyriadPro'
} 
h1{
	color: $color-white;
	font-family: 'BlackJack';
	font-size: 70px;
	margin:40px 0 20px 0; 
}
h3{
	color: $color-white;
	font-size: 35px;
	margin-bottom: 40px;
}